body {
    padding:40px;
}

ul {
  list-style: none;
}

.dl-horizontal dt {
  text-align: center;
  width: 80px;
}

.dl-horizontal dt div {
  width: 35px;
  float: left;
  height: 30px;
  position: relative;
}

.dl-horizontal dd {
  margin-left: 70px;
}

.arrows {
  margin-top: -7px;
}

.votecount {
  font-size: 13px;
}

.arrow {
  height: 15px;
  width: 30px;
  font-size: 15px;
  float: left;
  cursor: pointer;
}

.question {
  margin: 10px;
}

.obscure {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

#question-form input {
  width: 500px;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}






.testMsg{
    background:silver;
    color:green;
    font-weight:bold;
}
.Table{border:1px solid green;}
.Table th{font-weight:bold;text-align:center;background:grey;}
.Table td,.empTable th{
    width:120px;
    height:30px;
    border:1px solid green;
}

.selectBox{
    width:120px;
    
}


 